<div class="container footer" >
    <div class="row">
      <div class="col-sm-4 col-xs-12">
    <p>
      &copy; 2015 <a href="http:///wtfpl.net" >WTFPL</a>.<br>
      Powered by <a href="http://debian.org">Debian</a><br>
      Debian is a registered <a href="https://www.debian.org/trademark">trademark</a> of <a href="http://www.spi-inc.org/">Software in the Public Interest, Inc.</a>
    </p>
    </div>
    <div class="col-sm-4 align-middle col-xs-6">
      <a href="https://www.digitalocean.com/?refcode=9ac8b5947349"><img src="//assets/images/do_logo_horizontal_white-1bf45632.png" alt="COMWITHITNOW" /></a>
    </div>
    <div class="col-sm-4 align-right col-xs-6" >
      <!-- <%= link_to image_tag('openlogo-nd2.svg'), 'https://debian.org' %> -->
      <a href="https://debian.org"><img src="/assets/images/openlogo-nd2.svg" alt="Debian Logo"></a>
    </div>
  </div>
  </div>
