<h3>Current Release</h3>
<p><b>1.0 untitled</b></p>
<p>Offically available via torrent.</p>
<a href="/download/">Release Notes / Unoffical Mirrors</a>
<div class="row">
  <div class="col-xs-6">
    <h3>32-bit</h3>
    <div class="btn-group">
      <a href="/assets/misc/cbpp-1.0-i386-20150428.iso.torrent">
    <button type="button" class="btn">
      <span class="glyphicon glyphicon-download-alt"></span>
      i386.torrent
    </button>
  </a>
    </div>
  </div>
  <div class="col-xs-6">
    <h3>64-bit</h3>
    <div class="btn-group">
      <a href="/assets/misc/cbpp-1.0-amd64-20150428.iso.torrent">
    <button type="button" class="btn">
      <span class="glyphicon glyphicon-download-alt"></span>
      amd64.torrent
    </button>
  </a>
    </div>
  </div>
</div>
<br>
<p><s>Older Versions</s></p>
