<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="container" id="content">
        {{ content }}
    </div>
    <!-- <div class="container"> -->
      {% include footer.html %}
    <!-- </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ "/assets/bootstrap-3.3.4-dist/js/bootstrap.js" | prepend: site.baseurl }}"></script>
    <scirpt src="{{ "/assets/js/jquery.noisy.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/crunchscript.js" | prepend: site.baseurl }} "></script>
  </body>

</html>
